<body>
<mat-toolbar color="primary"> 
    <mat-toolbar-row>
        <span>
            This is the Overall title of our website
        </span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <button mat-icon-button [routerLink]="['/display']" ><i class="material-icons">remove_red_eye</i> </button>
        <button mat-icon-button [routerLink]="['/add']" ><i class="material-icons">create</i></button>
        <!-- <button mat-icon-button [routerLink]="['/update']" ><i class="material-icons">update</i></button> -->
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
</body>