<mat-toolbar color="primary">Updating Data</mat-toolbar>
<mat-card class="update-list">
  <form (submit)="onUpdate(stockForm)" #stockForm="ngForm"> 
    <mat-form-field>
      <input placeholder="Description" matInput type="text" name="description" ngModel={{stock.description}} required #title="ngModel">
      <mat-error *ngIf="title.invalid">Change the items description</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Price" matInput type=text name="price" ngModel={{stock.price}} required #price="ngModel">
      <mat-error *ngIf="price.invalid">Change the items price</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Brand" matInput rows="4" name="brand" ngModel={{stock.brand}} required #brand="ngModel">
      <mat-error *ngIf="brand.invalid">Correct Spelling errors</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Condition" matInput type="text" name="condition" ngModel={{stock.condition}} required #condition="ngModel">
      <mat-error *ngIf="condition.invalid">Update the items condition</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Seller" matInput type="text" name="seller" ngModel={{stock.seller}} required #seller="ngModel">
      <mat-error *ngIf="seller.invalid">Change the sellers names</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Contact Information" matInput type="text" name="contactInfo" ngModel={{stock.contactInfo}} required #contactInfo="ngModel">
      <mat-error *ngIf="contactInfo.invalid">Update sellers contact information</mat-error>
    </mat-form-field>
    <button mat-icon-button><i class="material-icons">save</i></button>
  </form>
</mat-card>